[submodule "MMM_px4"]
	path = MMM_px4
	url = https://github.com/MMM-lab/MMM_px4.git
[submodule "workspace/src/rplidar_ros"]
	path = workspace/src/rplidar_ros
	url = https://github.com/MMM-lab/rplidar_ros.git
